<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>

    <title>Projeto Web2 - Index</title>

</head>

<body>

<div class="container-fluid">
    <br/>
    <div class="card">
        <div class="row justify-content-center" style="padding: 10px;">
            <h3>Página Principal</h3>
        </div>
        <div style="padding-bottom: 30px" class="text-center">
            <div class="alert alert-success" role="alert">
                <span th:text="'Usuário Logado: ' + ${usuarioLogado}"></span>
            </div>
        </div>

        <div class="card border-secondary mb-3" style="max-width: 40rem;margin: 0 auto;float: none;">
            <div class="card-header"><center>Ações</center></div>
            <div class="card-body text-secondary">

                <div class="row">
                    <div class="col-md-6">
                        <div style="padding: 10px; text-align: right" sec:authorize="hasRole('ROLE_PROFESSOR')">
                            <a th:href="@{/turmas/adicionar}" class="col-md-6">
                                <button type="button" class="btn btn-success" th:text="'Cadastrar Turma'"></button>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div style="padding: 10px" sec:authorize="hasRole('ROLE_PROFESSOR')">
                            <a th:href="@{/alunos/adicionar}" class="col-md-6">
                                <button type="button" class="btn btn-success" th:text="'Cadastrar Aluno'"></button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 sm">
                        <div style="padding: 10px; text-align: right">
                            <a th:href="@{/turmas/listar}" class="col-md-6">
                                <button type="button" class="btn btn-success" th:text="'Listar Turma'"></button>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div style="padding: 10px">
                            <a th:href="@{/alunos/listar}" class="col-md-6">
                                <button type="button" class="btn btn-success" th:text="'Listar Alunos'"></button>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-12">
            <div style="padding: 10px; text-align: right">
                <a th:href="@{/logout}" class="col-md-6">
                    <button type="button" class="btn btn-danger" th:text="'Sair'"></button>
                </a>
            </div>
        </div>

    </div>

</div>
</div>

</body>
</html>
