<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <title>Projeto Web 2 - Listagem de Turmas</title>
</head>
<body>
<div class="container">
    <br/><br/>
    <div class="card">
        <h1 class="card-header">Listagem de Turmas</h1>

        <div class="alert alert-success" th:if="${mensagem}">
            <span th:text="${mensagem}"></span>
        </div>
        <div style="padding-bottom: 30px" class="text-center">
            <br/>
            <span th:text="'Usuário Logado: ' + ${usuarioLogado}"></span>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th class="text-center">Nome</th>
                    <th class="text-center">Horário</th>
                    <th class="text-center">Local</th>
                    <th class="text-center">Professor</th>
                    <th class="text-center">Qtd de Alunos</th>
                    <th class="text-center">Editar</th>
                    <th class="text-center">Excluir</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="turma : ${turmas}">
                    <td class="text-center" th:text="${turma.nome}"></td>
                    <td class="text-center" th:text="${turma.horario}" ></td>
                    <td class="text-center" th:text="${turma.local}" ></td>
                    <td class="text-center" th:text="${turma.professor}" ></td>
                    <td class="text-center" th:text="${turma.listarAlunos.size()}" ></td>
                    <div style="padding: 10px" sec:authorize="hasRole('ROLE_PROFESSOR')">
                        <td class="text-center">
                            <a th:href="@{/turmas/remover/{id}(id=${turma.id})}">
                                <i class="material-icons" title="Remover">delete</i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a th:href="@{/turmas/editar/{id}(id=${turma.id})}">
                                <i class="material-icons" title="Editar">edit</i>
                            </a>
                        </td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>

        <div style="padding: 10px">
            <a th:href="@{/index}" class="col-md-6">
                <button type="button" class="btn btn-success" >Voltar</button>
            </a>
        </div>

    </div>
</div>

</body>
</html>