<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>

    <title>Projeto Web 2 - Efetuar Login</title>


</head>

<body>
<div class="align-content-center">
    <div class="container">
        <br/><br/><br/>
        <div class="card text-center">
            <div class="card-header">
                <div class="header-panel">
                    <h1 class="text-center">Efetuar Login</h1>
                </div>
            </div>
        <fieldset>
            <form class="form-group" method="POST" th:action="@{/entrar}" >
                <div class="alert alert-danger" th:if="${mensagemErro}">
                    <span th:text="${mensagemErro}"></span>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Nome" autofocus name='username' />
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="senha" name='password' />
                </div>
                <div class="text-center"><button type="submit" class="btn btn-success" th:text="Login"></button>
                </div>
            </form>
        </fieldset>
    </div>
    </div>
</div>
</body>
</html>