<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Projeto Web2 - Cadastrar Aluno</title>
</head>
<body>
<div class="container">
    <br/><br/>
    <div class="card">
        <h1 class="card-header" th:text="${id} == null ? 'Cadastrar Aluno' : 'Editar Aluno'"></h1>

        <form class="form-group" method="post" th:action="@{/alunos/adicionar}"
              th:object="${aluno}">

            <div style="padding-bottom: 30px" class="text-center">
                <br/>
                <span th:text="'Usuário Logado: ' + ${usuarioLogado}"></span>
            </div>

            <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                <div th:each="error : ${#fields.errors()}">
                    <span th:text="${error}"></span>
                </div>
            </div>

            <div class="card-body">
                <input type="hidden" th:field="*{id}">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Nome" autofocus th:field="*{nome}" />
                </div>
                <div class="input-group mb-3">
                    <input type="date" class="form-control" placeholder="Data de Nascimento" th:field="*{dataNascimento}" />
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Sexo" th:field="*{sexo}" />
                </div>
                <a th:href="@{/index}" class="btn btn-outline-secondary">Voltar</a>
                <button type="submit" style="float: right" class="btn btn-success" th:text="${id} == null ? 'Cadastrar' : 'Editar'"></button>
            </div>
        </form>

    </div>
</div>

</body>
</html>